<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- below is for carousel and nav bar dropdown menu -->
   
  <!--   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

 -->
</head>

<body>
 








    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Welcome to McGill Winter Snow Management Services
                </h1>
            </div>
           <!--  <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-check"></i> About Us</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="page/about.html" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i> Services</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, optio corporis quae nulla aspernatur in alias at numquam rerum ea excepturi expedita tenetur assumenda voluptatibus eveniet incidunt dicta nostrum quod?</p>
                        <a href="page/services.html" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-compass"></i> Get a quote!</h4>
                    </div>
                    <div class="panel-body">
                        <p>Here customers can click on this card and be redirected to a form</p><br><br><br><br>
                        <p>
                        <a href="page/contact.html" class="btn btn-default">Learn More</a>
                    </div>
                </div>
            </div> -->
        </div>
        <!-- /.row -->

       

        <!-- Features Section -->
        <div class="row">
<!--             <div class="col-lg-12">
                <h2 class="page-header">Other display options for data or features</h2>
            </div> -->
            <div class="col-md-6">
                <p>We firmly believe in making a wide variety of maintenance services available to our customers. We ensure your needs for your property are met in all areas, while being 100% reliable and fully insured.</p>
                <ul>
                    <li><strong>Management are members of the SIMA organization to ensure the best in snow service procurement, best practices for sustainable salt use, and most importantly: snow risk management and injury prevention.</strong>
                    </li>
                    <li>Offering snow plowing, de-icing/salt, sidewalk management, and snow hauling.</li>
                    <li>Providing services for: retail centres, commercial buildings, government buildings, churches, recreational facilities, libraries, restaurants, and residential.</li>
                    <li>Services provided and available <strong>24/7</strong>.</li>
               
                </ul>
                <p>Our objective in snow removal, and de-icing strategies is to provide exceptional high quality services to ensure that our customers’ properties are cleared and de-iced for the employees and customer’s safety. <p>Our company is equipped with all tools and materials to battle slight to severe weather conditions 24/7. With multiple snow storage and snow melting stations around the city, snow hauling can also be provided for areas where safety and security have been compromised. Before any contracts are signed, our SIMA certified management team will implement a custom outlined process plan. This will ensure the quality of snow removal and de-icing services are strategic, while also efficient with uncompromised results. <p>
                Our dedication to your satisfaction is further exemplified with our strategic preventative measures. We are equipped with multiple weather instruments that enable our services to be implemented before any precipitation occurs.</p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="http://placehold.it/700x450" alt="">
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Call to Action Section aka CONTACT US-->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Quotes are free! Call or email us today to discuss our services and strategic, cost effective plans. We offer extremely competitive pricing and advantages, with unbeatable value.</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="contact.html">Contact Us</a>
                </div>
            </div>
        </div>

        <hr>
        <!--Cards for Other services -->
  <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">Other Services</h2>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x"> Here we can put a heading, or an image/icon with a heading underneath. Example: Commercial
                       <!-- Below code doesn't work; it's supposed to be little round icons. 
                       <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-tree fa-stack-1x fa-inverse"></i> -->
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Window Cleaning</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="windowcleaning.html" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">Here we can put a heading, or an image/icon with a heading underneath. Example: Residential
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-car fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Landscaping</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="lawnandgarden.html" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">Here we can put a heading, or an image/icon with a heading underneath. Example: Industrial
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-support fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Litter Removal and Clean Up</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="litterremoval.html" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <span class="fa-stack fa-5x">Here we can put a heading, or an image/icon with a heading underneath. Example: Misc
                              <i class="fa fa-circle fa-stack-2x text-primary"></i>
                              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                    <div class="panel-body">
                        <h4>Powerwashing</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="powerwash.html" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
